a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    color: chocolate;
}

.images {
height: auto;
width: 400px;
}

li {
    font-style: italic;
}

h2 {
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    background-color: darkgreen;
}

h1 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    font-style: italic;
    background-color: rgb(65, 6, 11);
}